img{
    height="200px";
    width="200px";
}

p{
    font-weight: normal;
}

#LightBlue{
    color: lightblue;
}

#LightPink{
    color: lightpink;
}

#LightSeaGreen{
    color: lightseagreen;
}

#LightSalmon{
    color: lightsalmon;
}

#LightCoral{
    color: lightcoral;
}